<!DOCTYPE html>
<html>
<head>
    <title>-Advanced image generation</title>
</head>
<body>
    <h1>Advanced image generation</h1>
    <h2>COMMERCIAL USE IS FORBIDDEN</h2>
    <h3>&copy; Konstantin Kuteykin-Teplyakov, 2023</h3>

    <form id="inference-form">
        <label for="processed_input">Main Object for image generation<br>
        <textarea name="processed_input" required></textarea><br><br>
        <br><br>

        <label for="object_style">Image Style:</label>
        <select name="object_style"  required>
            <option value='Photo'>Photorealistic</option>
            <option value='Artistic'>Artistic</option>
        </select><br><br>
        <input type="submit" value="Generate images">
    </form>
    <br><br>

    <div id="output"></div>
   
    <!-- JavaScript files -->
    <script src="../static/jquery.min.js"></script>
    <script type="text/javascript" src="../static/images_inference.js"></script>
</body>
</html>